body {
  background-color: rgb(255 250 248);
}

textarea {
  background-color: rgb(255 250 248);
}

label {
  cursor: pointer;
  user-select: none;
}

code {
  background-color: #e5e5e5;
  border-radius: 4px;
  padding: 1px 3px;
}

.clearfix {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-result-wrapper {
  width: 1200px;
  height: 300px;
  margin: 20px auto;
  box-sizing: content-box;
  box-shadow: 2px 2px 8px 0 #c5c5c5;
  border-radius: 4px;
}

.text, .result {
  width: 600px;
  height: 300px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 0.5px solid #f1f1f1;
  font-family: monospace;
}

.text {
  resize: none;
  border-radius: 4px 0 0 4px;
}

.text:focus {
  outline: none;
}

.text::placeholder {
  color: #c8c8c8;
}

.result {
  display: inline-block;
  border-left: 0.5px solid #d9d9d9;
  border-radius: 0 4px 4px 0;
  overflow: auto;
  cursor: text;
}

.options {
  width: 1200px;
  margin: 20px auto;
}
